.modal {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  margin: auto;
  width: 74vw;
}

.Download {
  /* width:5vw;
    height:2vh; */
  /* background-color: #81D3F8; */
  font-size: 1.8vw;
  border-radius: 3px;
  position: relative;
  letter-spacing: 10px;
  left: 30vw;
  top: 1vh;
  color: black;
  /* top: -90vh; */
}

.xiazai {
  width: 36px;
  height: 36px;
  position: relative;
  top: 1vh;
  left: 0.5vw;

}

.Download:hover,
.Download:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.xiazai:hover,
.xiazai:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.close {
  color: black;
  float: right;
  font-size: 7vh;
  position: relative;
  top: 1vh;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/deep/.el-dialog__title {
  padding: none !important;
}

/deep/.dialog {
  background-color: white;
  width: 30vw;
  height: 64vh;
  border-radius: 10px 10px 0 0;
  padding: 0 !important;

  /* // height: 1000px; */
  .dialog-title {
    width: 30vw;
    height: 6vh;
    border-radius: 10px 10px 0 0;
    background-color: #81D3F8;
    position: relative;
    top: -2vh;
    color: white;
    font-size: 2.8vh;

    .wenzi {
      position: relative;
      left: -10vw;
    }

    .button {
      position: relative;
      font-size: 2vw;
      left: 10vw;
      top: 1vh;
      cursor: pointer;
      color: #92969d;
    }

    .button:hover {
      color: aqua;
      /* 设置鼠标移入时的颜色为蓝色 */
    }

  }

  .dialog-body {
    width: 30vw;
    height: 55vh;
    font-size: 0.8vw;
    font-weight: bold;
    /* // background-color: green; */
    position: relative;
    top: -2vh;

    .dialog-body-one {
      width: 30vw;
      height: 15vh;

      /* background-color: red; */
      .label {
        position: relative;
        left: -2vw;
        top: 1vh;
      }
    }

    .dialog-body-two {
      width: 30vw;
      height: 40vh;
      position: relative;
      /* top:-5vh; */
      /* background-color: #81D3F8; */

      .label {

        position: relative;
        left: -11vw;
        top: 12vh;

      }

      .png {
        width: 16vw;
        height: 36vh;
        position: relative;
        left: 1.8vw;
        top: -5vh;
        /* // background-color: yellow; */
      }
    }

    .dialog-body-three {
      position: relative;
      width: 10vw;
      top: -2.5vh;
      left: 10vw;
      display: inline-block;
      display: flex;
      font-size: 0.7vw;
      letter-spacing: 1px;
      text-align: center;
      line-height: 4vh;
      color: white;

      .one1 {
        flex: 1;
        background-color: #D9001B;
        box-sizing: border-box;
        border: 1px rgb(235, 228, 228) solid;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
      }

      .two1 {
        flex: 1;
        background-color: #81D3F8;
        border: 1px rgb(235, 228, 228) solid;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 2vw;
        font-weight: bold;
      }
    }

    .dialog-body-four {
      position: relative;
      width: 8vw;
      top: 6vh;
      left: 10.5vw;
      font-size: 1vw;
      letter-spacing: 1px;
      text-align: center;
      line-height: 5vh;
      color: white;
      background-color: #81D3F8;
      box-sizing: border-box;
      border: 1px rgb(235, 228, 228) solid;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;


    }

    .dialog-body-five {
      position: relative;
      width: 5vw;
      top: 12vh;
      left: 12vw;
      display: inline-block;
      display: flex;
      font-size: 0.7vw;
      letter-spacing: 1px;
      text-align: center;
      line-height: 4vh;
      color: white;

      .one1 {
        flex: 1;
        background-color: #D9001B;
        box-sizing: border-box;
        border: 1px rgb(235, 228, 228) solid;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
      }

    }

    .dialog-body-six {
      position: relative;
      width: 16vw;
      top: 6vh;
      left: 6.5vw;

      font-size: 1vw;
      letter-spacing: 1px;
      text-align: center;
      line-height: 5vh;
      color: white;
      background-color: #D9001B;
      box-sizing: border-box;
      border: 1px rgb(235, 228, 228) solid;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;


    }
  }
}